#DivIdCode{
    width: 100%;
}

#DivIdCodeBackground{
    width: 100%;
    height: 100%;
    float: left;
    z-index: -1;
    opacity: 0.1;
    position: absolute;
    overflow: hidden;
    text-align: justify;
    top: 0;
    left: 0;
}

#DivIdTextBackground{
    height: 0px;
    width: 0px;
    z-index: -1;
    background-color: green;
}

#DivIdDivisor{
    width: 100%;
}

#DivIdDivisorA{
    width: 107px;
    text-align: center;
    float: left;
}

#DivIdDivisorB{
    text-align: left;
    float: left;
    vertical-align: text-bottom;
    background-color: green;
    opacity: 0.5;
}

#DivIdTextOverText{
    color: white;
    height: 103px;
    text-align: center;
}

#DivIdProjectTitle{
    height: 90px;
    text-align: center;
    opacity: 0.5;
}

#DivIdTitleTextSize{
    font-size: 40px;
}

#DivIdProjectTitleText, #DivIdProjectTitleText2{
    height: 45px;
    width: 100%;
    vertical-align: bottom;
}

#DivIdProjectTitleText:active, #DivIdProjectTitleText:focus, #DivIdProjectTitleText2:active, #DivIdProjectTitleText2:focus{
    font-family: FontFuturisticI;
}

#DivIdProjectTitleText3{
    width: 100%;
    vertical-align: bottom;
}

#DivIdCodeTitle{
    height: 45px;
    text-align: center;
    opacity: 0.5;
}

#DivIdCodeTitleText{
     height: 45px;
     width: 100%;
     font-size: 40px;
}

#DivIdCodeTitleText:active, #DivIdCodeTitleText:focus{
    font-family: FontFuturisticI;
}

#DivIdTableCodeWrap{
    width: 100%;
}

#TableIdCode{
    counter-reset: lines;

    height: 100%;
    width: 100%;

    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    padding: 0;
    margin: 0;
}

#TrIdCode{
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    padding: 0;
    margin: 0;

    width: 100%;
}

#TrIdCode:hover, #TrIdCode:active, #TrIdCode:focus{
    background-color: dodgerblue;
}

#TrIdCode::-moz-selection, #TrIdCode::selection {
    color: white;
    background: deepskyblue;
}

#TdIdColumnLine{
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    padding: 0;
    margin: 0;

    vertical-align: bottom;
    text-align: right;

    opacity: 0.5;

    height: 100%;
    min-width: 45px;
    width: 45px;
    max-width: 90px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#DivIdColumnLineText:before {
    content: counter(lines);
    counter-increment: lines;
}

#DivIdColumnLineText {
    width: 100%;
    height: 100%;
    font-size: 15px;
    padding: 0px;
    margin-bottom: -3px;

    vertical-align: middle;

    top:0;
    border: none;
    overflow: auto;
    outline: none;
}

#TdIdColumnCode{
    height: 100%;
    width: auto;
}

#DivIdColumnCodeText, #DivIdColumnCodeText:hover, #DivIdColumnCodeText:active, #DivTextAreaIdColumnCode:focus{
    vertical-align: bottom;

    width: 100%;
    height: 100%;
    font-family: "Arial", Arial, Sans-serif;
    font-size: 20px;
    padding: 0px;
    vertical-align: middle;

    border: none;
    overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    opacity: 0.7;
}

#TdIdColumnCode::-moz-selection, #TdIdColumnCode::selection, #DivIdColumnCodeText::-moz-selection, #DivIdColumnCodeText::selection {
    color: white;
    background: deepskyblue;
}
